<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="The best hackathon website ever">
    <title>Going Batty</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
    <script
      src="/js/index.js">
    </script>
  </head>

<body>
  <div id=header>
    <img src="images/bat-2.gif" />
    <h1>Welcome to the Freetail Hackers page</h1>
    <img src="images/bat-1.gif" />
  </div>

  <br/><br/>
  <div id=desc>
    <p>Hi! We are <b><i>Freetail Hackers</i></b> and this is our website! <b><i>Freetail Hackers</i></b> is THE hackathon-organizing org for the University of Texas at Austin. We are in charge of a hackathon called <a href="https://hacktx.com">HackTX</a> which occurs in the fall.
    If you are interested in learning more about us or HackTX, please <a href="mailto:this-is-not-a-real-email@hacktx.com">reach out</a> to us!</p>
  </div>
  <br/><br/>

  <div class="warning">
    <img src="images/stop.jpg"/>
    <img src="images/caution.gif">
    <img src="images/construction.gif"/>
    <img src="images/caution.gif"/>
    <img src="images/stop.jpg"/>
  </div>

  <img src='images/freetail_team.jpg.jpeg' id='freetail'/>

  <br/><br/><br/>
  <marquee>{{code}}</marquee>
  <br/><br/><br/>

  <div>
    <input type="text" name="code" id="answer"/><br/>
    <button onclick="submitResults()">Submit</button>
  </div>

  <br/><br/><br/>
  <MARQUEE WIDTH=400px BEHAVIOR=alternate BGColor=#00FFFF LOOP=100>Thanks for visiting our website! Please come again soon!</MARQUEE>
  <br/><br/><br/>
  <div style='height:100px; text-align:center'>
    <img src='images/ns_logo.gif'/>
    <img src='images/counter.gif'/>
    <img src='images/notepad.gif'/></div>
  </body>
</html>
